body{
	background-color: #bdbfff;
	min-width:36px;
	min-height:48px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 1.0;
}
.a{
	color:red;
	font-size: 24px;
	line-height: 1.5;
	display: list-item;
    margin-left: 1em;
	text-decoration: none;
}
.b{
	color:#a0a000;
	font-size: 24px;
	line-height: 1.5;
	display: list-item;
    margin-left: 1em;
	text-decoration: none;
}
.c{
	color:#00cc00;
	font-size: 24px;
	line-height: 1.5;
	display: list-item;
    margin-left: 1em;
	text-decoration: none;
}
.d{
	color:blue;
	font-size: 24px;
	line-height: 1.5;
	display: list-item;
    margin-left: 1em;
	text-decoration: none;
}
.e{
	color:black;
	line-height: 1;
}